# Step-2 : Data Preprocessing

In [8]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
app_train = pd.read_csv(r"C:\Users\manish\OneDrive\Documents\loan-default-prediction\data\application_train.csv")
app_test = pd.read_csv(r"C:\Users\manish\OneDrive\Documents\loan-default-prediction\data\application_test.csv")

In [3]:
test_ids = app_test['SK_ID_CURR']
train_labels = app_train['TARGET']

In [4]:
df = pd.concat([app_train.drop(columns=['TARGET']), app_test], ignore_index=True)

In [11]:
df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
356251,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
356252,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
356253,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
356254,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

### Correct Anomalies

In [9]:
df['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

### Handle Categorical Features using One-Hot Encoding

In [10]:
categorical_cols = df.select_dtypes(include=['object']).columns

In [13]:
df = pd.get_dummies(data = df, columns = categorical_cols, dummy_na = False)

In [14]:
df

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Block,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes
0,100002,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,-3648.0,...,False,False,False,False,False,False,True,False,True,False
1,100003,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,-1186.0,...,False,True,False,False,False,False,False,False,True,False
2,100004,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,-4260.0,...,False,False,False,False,False,False,False,False,False,False
3,100006,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,-9833.0,...,False,False,False,False,False,False,False,False,False,False
4,100007,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,-4311.0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356250,456221,0,121500.0,412560.0,17473.5,270000.0,0.002042,-19970,-5169.0,-9094.0,...,False,False,False,False,False,False,False,False,False,False
356251,456222,2,157500.0,622413.0,31909.5,495000.0,0.035792,-11186,-1149.0,-3015.0,...,False,False,False,False,False,False,False,False,False,False
356252,456223,1,202500.0,315000.0,33205.5,315000.0,0.026392,-15922,-3037.0,-2681.0,...,False,False,False,False,False,False,True,False,True,False
356253,456224,0,225000.0,450000.0,25128.0,450000.0,0.018850,-13968,-2731.0,-1461.0,...,False,False,False,False,False,True,False,False,True,False
356254,456250,0,135000.0,312768.0,24709.5,270000.0,0.006629,-13962,-633.0,-1072.0,...,False,False,False,False,False,False,False,False,False,False

### Impute Missing Values

In [15]:
median_imputer = df.median()
df.fillna(median_imputer, inplace=True)

### Split back into Training and Testing sets

In [17]:
train_df = df[:len(app_train)]
test_df = df[len(app_train):]